<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      There has been an error. Please click <a href="/">here</a> to return home.
    </p>
    <ul>
      <% error %>
    </ul>
  </body>
</html>
